In [1]:
from fileHandler.excelHandler import Filehandler

In [2]:
myFileHandler = Filehandler("./dataFiles/final_project.xlsx")

myFileHandler.xlsxHandler()

,Relative_Humidity_Percentage,Temperature_Degree_Celsius,Indoor_Mould_CFU_m3
0,45,27.0,2968.2
1,47,26.0,4735.0
2,47,26.7,282.7
3,47,26.0,70.7
4,46,24.3,84.8
...,...,...,...
95,54,27.3,49.5
96,60,26.6,63.6
97,66,26.4,21.2
98,64,25.9,7.1
99,58,25.6,42.4

In [3]:
myFileHandler.project50Handler()

In [4]:
firstSection = Filehandler("./dataFiles/halfData.xlsx")

In [5]:
firstSection.xlsxHandler()

,Relative_Humidity_Percentage,Temperature_Degree_Celsius,Indoor_Mould_CFU_m3
0,45,27.0,2968.2
1,47,26.0,4735.0
2,47,26.7,282.7
3,47,26.0,70.7
4,46,24.3,84.8
5,46,25.1,233.2
6,45,24.8,98.9
7,51,24.0,98.9
8,51,24.0,1957.6
9,48,24.0,155.5
10,46,23.8,183.7
11,50,23.7,98.9
12,47,23.9,56.5
13,46,24.0,204.9
14,49,24.0,791.5
15,50,25.8,169.6
16,41,25.3,332.2
17,42,25.0,515.9
18,41,24.6,1957.6
19,40,25.0,339.2
20,49,21.6,2417.0
21,40,22.5,296.8
22,36,22.8,417.0
23,34,22.4,169.6
24,34,22.2,2162.5
25,35,21.8,183.7
26,36,22.4,1328.6
27,38,22.4,1957.6
28,40,23.1,812.7
29,36,23.7,650.2
30,36,24.0,127.2
31,38,25.0,424.0
32,36,24.0,296.8
33,36,23.7,261.5
34,31,24.0,212.0
35,36,22.9,282.7
36,38,23.4,1901.1
37,37,24.3,183.7
38,36,23.9,374.6
39,37,23.3,459.4
40,37,27.0,388.7
41,37,26.0,261.5
42,37,26.3,56.5
43,38,26.3,487.6
44,40,25.9,579.5
45,41,26.2,678.4
46,45,26.2,2629.0
47,46,26.0,614.8
48,45,26.4,438.2
49,50,26.3,2438.2